<style>
    .dropbtn {
  /* background-color: #04AA6D; */
  color: #15417e;
  padding: 16px;
  font-weight: 600;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */
</style>
<nav class="navbar navbar-dark navbar-expand-md navbar-nav" style="margin-left: -15px; margin-right: -15px;">
    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12">
        <div class="header_logo">
          <a class="navbar-brand" href="/sellerHome"><img src="../../../assets/images/ekart.jpg" alt="sobarbazar"></a>
        </div>
      </div>

      

      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item dropdown"  routerLinkActive="active">

  <div class="dropdown">
            <button class="dropbtn">Products<i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a routerLink="viewProducts"  routerLinkActive="active">View Products</a>
                <a routerLink="addProduct"  routerLinkActive="active" >Add New Product</a>
    
            </div>
          </div>
</li>
<li class="nav-item "  routerLinkActive="active">
    <div class="nav-item">
        <a routerLink="viewOrders"  routerLinkActive="active" class="nav-link">Orders</a>
       
      </div>
      </li>

      <li class="nav-item dropdown"  routerLinkActive="active">

        <div class="dropdown">
                  <button class="dropbtn">Deal of the Day<i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                      <a routerLink="todaysDeal"  routerLinkActive="active">View Today's
                        Deal</a>
                      <a routerLink="addDeal"  routerLinkActive="active" >Add Product to Today's deal</a>
          
                  </div>
                </div>
      </li>


          </ul>
        <!-- <ul class="navbar-nav">
            <li class="nav-item dropdown"  routerLinkActive="active">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown">Products</a>

                <ul class="dropdown-menu dropdown-menu-left"  >
                    <li class="nav-item">
                        <a routerLink="viewProducts"  routerLinkActive="active" class="nav-link">
                            View My
                            Products
                        </a>
                    </li>

                    <li class="nav-item">
                        <a routerLink="addProduct"  routerLinkActive="active" class="nav-link">Add New Product</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a routerLink="viewOrders"  routerLinkActive="active" class="nav-link">Orders</a>
            </li>
            
            <li class="nav-item dropdown"   routerLinkActive="active">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown">Deal of the Day</a>

                <ul class="dropdown-menu dropdown-menu-left"  >
                    <li class="nav-item">
                        <a routerLink="todaysDeal"  routerLinkActive="active" class="nav-link">
                            View Today's
                            Deal
                        </a>
                    </li>

                    <li class="nav-item">
                        <a routerLink="addDeal"  routerLinkActive="active" class="nav-link">Add Product to Today's deal</a>
                    </li>
                </ul>
            </li>
        </ul> -->

        <ul class="nav navbar-nav navbar-right ml-auto">


            <li class="nav-item dropdown"  routerLinkActive="active">

                <div class="dropdown">
                          <button class="dropbtn">Welcome {{loggedInSeller.name}}<i class="fa fa-caret-down"></i>
                          </button>
                          <div class="dropdown-content">
                             

                                <a routerLink="profile" routerLinkActive="active">
                                    My Profile
        
                                    <span
                                        class="fa fa-user"
                                        aria-hidden="true"
                                    ></span>
                                </a>


                        <a routerLink="changePassword" routerLinkActive="active">Change Password <i class="fa fa-key"></i></a>
                                
                          </div>
                        </div>
              </li>
              <li class="divider"></li>
              <li class="nav-item">
              <a class="nav-link" style="cursor: pointer;" (click)="logout()"><i class="fa fa-sign-out"></i></a>
                </li>
        </ul>
    </div>
</nav>

<br>
<br>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <router-outlet></router-outlet>
    </div>
</div>