



<div class="header_top_area navbar-dark navbar-expand-md navbar-nav">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12">
          <div class="header_logo">
            <a class="navbar-brand" href="#"><img src="../../../assets/images/ekart.jpg" alt="sobarbazar"></a>
          </div>
        </div>
          <div class="col-xl-10 col-lg-12 col-sm-12">
            <div class="header_chart">
              <div class="widgets-wrap">
                <div class="widget-text">
                  <ul>
                    <li>
                        <a routerLink="/" routerLinkActive="active" class="nav-link">Buy Our Products</a>
             
                  </ul>
                </div>
               
              </div>
              
          </div>
        </div>
      </div>
    </div>
  </div>





<div>
    <router-outlet></router-outlet>
</div>